@using localshop.Core.Common
@model TrackingViewModel

@{
    Layout = null;
    ViewBag.Title = "Return Product";
}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>localshop - @(ViewBag.Title ?? "Medco store")</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    @Styles.Render("~/content/client/css/vendor")

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Assets/client/css/vendor/line-awesome.css">
    <link rel="stylesheet" href="~/Assets/client/css/vendor/themify.css">

    <!-- Plugins CSS -->
    @Styles.Render("~/content/client/css/tracking")

    <!-- Main CSS -->
    @Styles.Render("~/content/client/css/app")
</head>
<body>
    <div class="main-wrapper">
       

        <div class="section-padding-4 py-md-5 pt-0 pb-5">
            <div class="container-fluid">
               
                    <div id="printElement">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <span class="h4">Order information</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-4">
                                                <p class="font-weight-bold">Order ID:</p>
                                                <p class="font-weight-bold">Payment method:</p>
                                                <p class="font-weight-bold">Placed date:</p>
                                            </div>
                                            <div class="col-8">
                                                <input type="hidden" id="orderIds" value=@Model.Order.Id />
                                                <p>@Model.Order.Id</p>

                                                <p>@Model.PaymentMethod</p>
                                                <p id="orderDate">@Model.Order.OrderDate</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-weight-bold">PRODUCT</span>
                                    <span class="font-weight-bold text-danger">TOTAL</span>

                                </div>
                                <hr />
                                <div class="order-product">
                                    <ul>
                                        @{
                                            decimal subTotal = 0;
                                        }
                                        @foreach (var od in Model.OrderDetails)
                                        {
                                            subTotal += od.SubTotal;
                                        <li class="d-flex">
                                            <input type="hidden" id="productId" value=@od.ProductId />
                                            <div class="d-inline-block col-7 pl-0">@od.Name</div>
                                            <strong class="text-danger col-3 pr-0">x @od.Quantity</strong>
                                            <span class="col-2 text-right p-0">Rs @od.SubTotal</span>
                                        </li>
                                        }
                                        
                                    </ul>
                                    <input type="hidden" value=@subTotal id="subTotal"/> 
                                </div>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <span class="h4">Shipment details</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-4">
                                                <p class="font-weight-bold">Full name:</p>
                                                <p class="font-weight-bold">Email:</p>
                                                <p class="font-weight-bold">Phone number:</p>
                                                <p class="font-weight-bold">Country:</p>
                                                <p class="font-weight-bold">City:</p>
                                                <p class="font-weight-bold">State:</p>
                                                <p class="font-weight-bold">Postcode/ZIP:</p>
                                                <p class="font-weight-bold">Address 1:</p>
                                                <p class="font-weight-bold">Address 2:</p>
                                            </div>
                                            <div class="col-8">
                                                <p>@($"{Model.Order.LastName} {Model.Order.FirstName}")</p>
                                                <p>@Model.Order.Email</p>
                                                <p>@Model.Order.PhoneNumber</p>
                                                <p>@Model.Order.Country</p>
                                                <p>@Model.Order.City</p>
                                                <p>@Model.Order.State</p>
                                                <p>@Model.Order.Zip</p>
                                                <p>@Model.Order.Address1</p>
                                                <p>@Model.Order.Address2</p>
                                            </div>
                                        </div>

                                        @if (Model.Order.IsShipToDifferentAddress)
                                        {
                                            <hr />
                                            <div class="row mb-2">
                                                <div class="col-4">
                                                    <p class="font-weight-bold">Country:</p>
                                                    <p class="font-weight-bold">City:</p>
                                                    <p class="font-weight-bold">State:</p>
                                                    <p class="font-weight-bold">Postcode/ZIP:</p>
                                                    <p class="font-weight-bold">Address 1:</p>
                                                    <p class="font-weight-bold">Address 2:</p>
                                                </div>
                                                <div class="col-8">
                                                    <p>@Model.Order.DiffCountry</p>
                                                    <p>@Model.Order.DiffCity</p>
                                                    <p>@Model.Order.DiffState</p>
                                                    <p>@Model.Order.DiffZip</p>
                                                    <p>@Model.Order.DiffAddress1</p>
                                                    <p>@Model.Order.DiffAddress2</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div id="order-details" class="col-lg-5">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <span class="h4">Return details</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="modal-body">
                                            <form id="editCategory" role="form" data-parsley-validate novalidate>
                                                <input type="hidden" id="categoryId" />

                                                <div class="form-group">
                                                    <label for="categoryName">Reason</label>
                                                    <select class="form-group" id="reason">
                                                        <option value="1">"Damage"</option>
                                                        <option value="2">"Expire"</option>
                                                        <option value="3">"Other Brand"</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="categoryName">Other Reason</label>
                                                    <textarea id="otherReason"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="categoryName">Upload Image 1</label>
                                                    <input type="file" id="img1"/>
                                                    <label for="categoryName">Upload Image 2</label>
                                                    <input type="file" id="img2"/>
                                                    <label for="categoryName">Upload Image 3</label>
                                                    <input type="file" id="img3"/>
                                                </div>
                                                <div class="text-right">
                                                    <button class="btn btn-primary" id="returnBtn">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End row -->

                    </div>

                    <div class="row">
                        <div class="col-lg-7 col-12">
                            <div class="d-flex justify-content-end">
                                <a href="@Url.Action("index", "shop")" class="btn btn-light mr-2">Continue shopping</a>
                                
                            </div>
                        </div>
                    </div>
                
            </div><!-- End row -->
        </div>
    </div>

    <!-- JS
    ============================================ -->
    <!-- Core JS -->
    @Scripts.Render("~/content/client/js/vendor")

    <!-- Plugins JS -->
    @Scripts.Render("~/content/client/js/tracking")
    @Scripts.Render("~/content/removeAds")
 <script>
     $('#returnBtn').on('click', function (e) {
         e.preventDefault();
         $.ajax({
             type: "POST",
             dataType: "json",
             url: "/tracking/save",
             data: {
                 OrderId: $('#orderIds').val(),
                 ReturnDate: $('#orderDate p').text(),
                 Image1: $('#img1').val(),
                 Image2: $('#img2').val(),
                 Image3: $('#img3').val(),
                 Reason: $('#reason').val(),
                 OtherReason: $('#otherReason').val(),
                 SubTotal: $('#subTotal').val(),
                 ProductId: $('#productId').val()
             },
             success: function (response) {
                 if (response.success) {    
                    
                   
                    // window.open("/shop/index");
                     toastr["success"]("Saved!");
                 } else {
                     toastr["error"]("Something went wrong!");
                 }
             },
             error: function () {
                 alert("Something went wrong!");
             },
             complete: function () {
                 $('#editModal').modal('toggle');
             }
         });
     });
 </script>
</body>
</html>
