

@using localshop.Core.Common
@model IEnumerable<OrderViewModelWithUser>

@{
    ViewBag.Title = "ReadyShippingLabel";
}


@section topbar {
    @Html.Action("topbar", "nav", new { header = NavigationHeader.Order })
}

@section thirdPartyCss {
    @Styles.Render("~/content/admin/css/dropify", "~/content/admin/css/toastr")

<style>
        .ck-editor__editable_inline {
            min-height: 150px;
        }

        #productImages img {
            width: 150px;
            height: 150px;
            object-fit: scale-down;
        }
        .table {
            margin-bottom: 0.15rem !important;
        }
            .table > p {
                margin-bottom: 0px;
            }
        .text-left{
            margin-bottom: 5px !important;
        }
        
</style>
}

@section thirdPartyJs {
    @Scripts.Render("~/content/admin/js/validation", "~/content/admin/js/toastr")

    <!-- CKFinder -->
    <script src="~/Assets/plugins/CKFinderScripts/ckfinder.js"></script>
    <link href="~/Assets/admin/css/main.css" rel="stylesheet" />
    <!-- CKEditor -->
    <script src="~/Assets/plugins/ckeditor5-build-classic-16.0.0/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <!-- Controller -->
    @Scripts.Render("~/content/admin/js/order/index")
}

<main role="main" class="container" id="section-to-print">
    <div class="row">
        <!-- Repeat the following block for each dataset (four times in total) -->
        @foreach (var datas in Model)
        {
            <div class="col-6 border border-dark h-50 pb-4 pt-3" >


                <div class="row">
                    <img src="@ImageLinks.LogoLight" width="200" alt="logo">
                    <img style="height:125px; width:250px; padding-left:30px;" src="https://staff.koombiyodelivery.lk/thems/assets/img/logo-wbg.png" />

                </div>
                @*<hr />*@
                <p class="text-left" style="padding-top: 17px">From:@datas.User.FullName </p>
                <p class="text-left">Contact Number: @datas.User.PhoneNumber </p>
                <p class="text-left">Date: @datas.Order.OrderDate </p>
                @*<hr />*@
                <p class="text-left"  style="padding-top: 13px">To:@datas.Order.FirstName @datas.Order.LastName </p>
                <p class="text-left">Address:@datas.Order.Address1 @datas.Order.Address2 @datas.Order.State</p>
                <p class="text-left">Phone No: @datas.Order.PhoneNumber</p><br>
                <div class="table table-bordered">
                    <h4>PROOF OF DELIVERY</h4>
                </div>
                <svg class="barcode"
                     jsbarcode-format="code39"
                     jsbarcode-value=@datas.Order.OrderWaybillid
                     jsbarcode-textmargin="0"
                     jsbarcode-fontoptions="bold">
                </svg>
                <div style="padding-left:10px;" class="table table-bordered">
                    <h5>COD AMOUNT: @datas.Order.Total</h5>
                </div>
                <div style="padding-left:10px;" class="table table-bordered">
                    <p class="lead" id="OrderWaybillid">Order No:@datas.Order.OrderWaybillid </p>
                </div>
                <div style="padding-left:10px;" class="table table-bordered">
                    <p>Weight: < 1Kg </p>
                </div>
                <div style="padding-left:10px;" class="table table-bordered">
                    
                        <p class="text-left">Description:@datas.Order.OrderNotes </p>
                     
                </div> 
            </div>


              
          
        }
    </div>
    </main>

 
<input type="button" class="not-print no-print btn btn-success" value="Print" onclick="window.print();"/> 