

@using localshop.Core.Common
@model OrderViewModelWithUser

@{
    ViewBag.Title = "ReadyShippingLabel";
}


@section topbar {
    @Html.Action("topbar", "nav", new { header = NavigationHeader.Order })
}

@section thirdPartyCss {
    @Styles.Render("~/content/admin/css/dropify", "~/content/admin/css/toastr")

    <style>
        .ck-editor__editable_inline {
            min-height: 150px;
        }

        #productImages img {
            width: 150px;
            height: 150px;
            object-fit: scale-down;
        }
    </style>
}

@section thirdPartyJs {
    @Scripts.Render("~/content/admin/js/validation", "~/content/admin/js/toastr")

    <!-- CKFinder -->
    <script src="~/Assets/plugins/CKFinderScripts/ckfinder.js"></script>

    <!-- CKEditor -->
    <script src="~/Assets/plugins/ckeditor5-build-classic-16.0.0/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
    <!-- Controller -->
    @Scripts.Render("~/content/admin/js/order/index")
}


<main role="main" class="container" id="section-to-print">
    <div class="col-12 border border-dark">
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <img src="@ImageLinks.LogoLight" width="200" alt="logo">
                    <img style="height:125px; width:250px; padding-left:30px;" src="https://staff.koombiyodelivery.lk/thems/assets/img/logo-wbg.png" />

                </div>
                <hr />
                <p class="text-left">From:@Model.User.FullName </p>
                <p class="text-left">Contact Number: @Model.User.PhoneNumber </p>
                <p class="text-left">Date: @Model.Order.OrderDate </p>
                <hr />
                <p class="text-left">To:@Model.Order.FirstName @Model.Order.LastName </p>
                <p class="text-left">Address:@Model.Order.Address1 @Model.Order.Address2 @Model.Order.State</p><br><br><br>
                <p class="text-left">Phone No: @Model.Order.PhoneNumber</p><br>
                <div class="table table-bordered">
                    <h4>PROOF OF DELIVERY</h4>
                </div>
                <svg class="barcode"
                     jsbarcode-format="code39"
                     jsbarcode-value=@Model.Order.OrderWaybillid
                     jsbarcode-textmargin="0"
                     jsbarcode-fontoptions="bold">
                </svg>
                <div style="padding-left:10px;" class="table table-bordered">
                    <h5>COD AMOUNT: @Model.Order.Total</h5>
                </div>
                <div style="padding-left:10px;" class="table table-bordered">
                    <p class="lead" id="OrderWaybillid">Order No:@Model.Order.OrderWaybillid </p>
                </div>
                <div style="padding-left:10px;" class="table table-bordered">
                    <p>Weight: < 1Kg </p>
                </div>
                <div class="card bg-faded">
                    <div class="card-header">
                        <p class="text-left">Description:@Model.Order.OrderNotes </p>
                    </div>
                </div>
            </div>
            
        </div>
        <hr />

    </div>
</main>
<input type="button" class="not-print btn btn-success" value="Print" onclick="window.print();"/> 